:root {
  /* Swiper.js settings */
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;

  /* Durations */
  --duration-short: 0.1s;
  --duration-default: 0.2s;
  --duration-long: 0.5s;

  /* Fonts */
  --g-font-1: Butler;
  --g-font-2: Lato, sans-serif;
  --g-font-3: Restora-Light;
  --g-font-4: PadukaScriptfreeversion;

  --g-font-size: 15px;
  --g-font-weight-body: 400;
  --g-body-lineheight: 1.6;

  --g-font-color-subtop: #8b1132;
  --g-font-size-subtop: 12px;
  --g-font-weight-subtop: 600;
  --g-font-spacing-subtop: 0.2em;

  /* Layout */
  --g-container: 1440px;
  --g-gutter: 30px;
  --g-hgutter: 15px;

  /* Colors */
  --g-main: #000000;
  --g-main-2: #414141;
  --g-color-heading: #000000;
  --g-color-heading-rgb: 0, 0, 0;
  --g-cta-button: #000000;
  --g-cta-text: #e9e9e9;
  --g-alert: #000000;
  --g-alert-bg: #ffffff;
  --g-alert-bd: #000000;

  --color-body: #f9f6f1;
  --color-body-text: #414141;
  --color-body-text-rgb: 65, 65, 65;
  --color-accent: #000000;
  --color-form: #f4f4f4;
  --color-form-text: #333;
  --color-disabled: #d5d5d5;
  --color-disabled-border: #cecece;
  --color-disabled-text: rgba(0, 0, 0, 0.4);
  --color-error: #ec523e;
  --color-error-bg: #ec523e;
  --color-drawer-text: #010101;
  --color-content: #f9f6f1;

  /* Labels */
  --g-radius-label: 2px;
  --g-label-size: 12px;
  --g-label-space: 0em;
  --g-label-text: #000000;
  --g-label-new: #65000b;
  --g-label-hot: #8b1132;
  --g-label-sale: #fadadd;
  --g-label-other: #848484;

  /* Inputs */
  --g-input-bg: #ffffff;
  --g-input-border: #dee2e6;
  --g-input-height: 50px;
  --g-input-radius: 5px;

  /* Buttons */
  --g-font-family_btn: Lato, sans-serif;
  --g-font-weight-btn: 600;
  --g-font-size-btn: 12px;
  --g-font-spacing-btn: 0.1em;
  --g-font-radius-btn: 40px;
  --g-font-border-bottom-btn: 1px;
  --g-text-transform-btn: uppercase;
  --g-padding-ver-btn: 17px;
  --g-padding-hoz-btn: 34px;
  --g-height-border-btnline: 1px;

  /* Typography */
  --g-p-font-family: Lato, var(--g-font-1);
  --g-p-font-size: 20px;
  --g-p-font-weight: 500;
  --g-p-font-spacing: 0em;
  --g-p-font-lineheight: 1.2;
  --g-p-font-transform: capitalize;

  --g-h1-font-size: 12px;
  --g-h1-font-weight: 400;
  --g-h1-font-spacing: 0em;
  --g-h1-font-lineheight: 1;
  --g-h1-font-transform: capitalize;

  --g-h2-font-size: 12px;
  --g-h2-font-weight: 600;
  --g-h2-font-spacing: 0em;
  --g-h2-font-lineheight: 1.4;
  --g-h2-font-transform: uppercase;

  --g-h3-font-size: 32px;
  --g-h3-font-weight: 400;
  --g-h3-font-spacing: 0em;
  --g-h3-font-lineheight: 1.4;
  --g-h3-font-transform: none;

  --g-h4-font-size: 24px;
  --g-h4-font-weight: 400;
  --g-h4-font-spacing: 0em;
  --g-h4-font-lineheight: 1.4;
  --g-h4-font-transform: capitalize;

  --g-h5-font-size: 20px;
  --g-h5-font-weight: 400;
  --g-h5-font-spacing: 0em;
  --g-h5-font-lineheight: 1.4;
  --g-h5-font-transform: none;

  --g-h6-font-size: 18px;
  --g-h6-font-weight: 500;
  --g-h6-font-spacing: 0em;
  --g-h6-font-lineheight: 1.4;
  --g-h6-font-transform: none;

  --g-slide-font-size: 44px;
  --g-slide-font-weight: 400;
  --g-slide-font-spacing: 0em;
  --g-slide-font-lineheight: 1.2;
  --g-slide-font-transform: capitalize;

  /* Header / Navbar */
  --header-background: #ffffff;
  --header-text: #5d4954;
  --header-linkcolor: #000000;
  --header-linkhover: #65000b;
  --header-menucolor: #000000;
  --header-menudropbg: #e9e9e9;
  --header-menudroptext: #000000;
  --header-menudropborder: #414141;

  --padding-menu: 20px;
  --menu_font_size: 13px;
  --menu_font_weight: 600;
  --menu_type_text: capitalize;
  --menu_font_family: var(--g-font-2);
  --menu_spacing: 0.1em;

  /* Other */
  --height-header: 68px;
  --height-announbar: 44px;

  /* General */
  text-align: left;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  font-size: var(--g-font-size);
  font-family: var(--g-font-2);
  color: var(--color-body-text);
  line-height: var(--g-body-lineheight);
  font-weight: var(--g-font-weight-body);
  box-sizing: border-box;
  display: block;
}
